*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #12121f;
    color:#eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar{
    width: 115rem; /*changed from 45 -> 100*/
    height: 95rem; /*changed from 52 --> 93*/
    background-color: #222227;
    /*box-shadow: 0.5rem 3rem rgba(0,0,0,0.4);*/
}

.month{
    width: 100%;
    height: 12rem;
    background-color: #167e56;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0.3rem .5rem rgba(0,0,0,0.5);

}

/*this is to create the arrow keys to move different months*/
.month i{
    font-size: 5rem; /*changed 2.5 --> 5*/
    cursor: pointer;

}

.month h1{
    font-size: 5rem; /*went from 3 --> 5*/
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.month p {  /*this is the full date that's displayed on the very top*/
    font-size: 2.6rem;

}

.weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    width: calc((100% - 1.4rem) /7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.days{
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;

}

.days div{
    font-size: 3rem;
    margin: 0.3rem;
    width: calc((95% - 1.4rem)/7);
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}
.days div:hover:not(.today){
    background-color: #262626;
    border: .2rem solid #777;
    cursor: pointer;

}
.prev-date,
.next-date{
    opacity: 0.5;
}

.today{
    background-color: #167e56;
}